<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wls.shopmall.mapper.MPOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wls.shopmall.model.MPOrderInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, address_detail, area, city, order_number, order_status, order_time, province, 
    receiver, street
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wls.shopmall.model.MPOrderInfo" >
    insert into order_info (id, address_detail, area, 
      city, order_number, order_status, 
      order_time, province, receiver, 
      street)
    values (#{id,jdbcType=BIGINT}, #{addressDetail,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{province,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{street,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wls.shopmall.model.MPOrderInfo" >
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addressDetail != null" >
        address_detail,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="street != null" >
        street,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addressDetail != null" >
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wls.shopmall.model.MPOrderInfo" >
    update order_info
    <set >
      <if test="addressDetail != null" >
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wls.shopmall.model.MPOrderInfo" >
    update order_info
    set address_detail = #{addressDetail,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      province = #{province,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>